---

interface Props {
  title: string
}

const { title } = Astro.props as Props

const getSizeTitle = (title: string) => {
  if (title.length >= 8) return '16vw'
  if (title.length >= 10) return '12vw'
  if (title.length >= 12) return '10vw'
  return '24vw'
}

const classes = {
  container: 'flex items-center w-full flex-col max-w-full overflow-hidden',
  title:
    'w-fit text-primary-dark dark:text-primary-light font-semibold text-center my-4',
  divider:
    'border-b-2 border-primary-dark dark:border-primary-light opacity-35 w-full'
}
---

<div class={classes.container} >
    <div class={classes.divider} />
    <h1
    style={`font-size: ${getSizeTitle(title)};`}
     class={classes.title}>{title}</h1>
    <div class={classes.divider} />
</div>