---

const title = 'Dblog'

const classes = {
  container: 'flex items-center w-full flex-col',
  title: 'lg:text-title w-fit',
  divider: 'border-b-2 border-gray-400  w-full'
}
---

<div class={classes.container} >
    <div class={classes.divider} />
    <h1 class={classes.title}>{title}</h1>
    <div class={classes.divider} />
</div>